body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #0d0d0d, #301212);
  color: #fff;
}
.container {
  padding: 0.5%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  font-size: 3vw;
}

p{
  font-size: 1.2vw;
}

.nav {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 14px;
  letter-spacing: 1px;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  position: absolute;
  padding: 30px 50px;
  font-family: "Poppins", sans-serif;
  z-index: 100;
}

nav a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  list-style: none;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.text-content h1 {
  font-size: 48px;
  margin: 10px 0;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: none;
  color: white;
  border: 1px solid rgb(3, 3, 3);
  border-radius: 10%;
  cursor: pointer;
}
footer {
  display: flex;
  align-items: center;
  margin-top: 60px;
  color: white;
}

.hero-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
   bottom: -10px;
   width: 400px;
   height: auto;
 
}
.hero-image .circle {
  position: absolute;
  transform: translateY(-30%);
  width: 680px;
  height: 650px;
  background-color: red;
  border-radius: 50%;
  right: 80px;
  left: -390px;
  z-index: 1;
  top: 50%;
  background: radial-gradient(circle, #ff3d3d, #991f1f);
  opacity: 0.85;
   bottom: -200px;
}
.hero-image img {
  position: relative;
  z-index: 2;
  max-width: 800px;
  height: auto;
  left: -270px;
   bottom: -300px;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  color: #fff;
  font-family: sans-serif;
}

.page-number {
  font-size: 14px;
}

.progress-bar {
  flex: 1;
  height: 2px;
  background: #555;
  position: relative;
}

.progress {
  height: 100%;
  width: 33%;
  position: absolute;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0.5%;
}
.bar {
  width: 15px;
  height: 3px;
  background: rgb(186, 90, 90);
  transform: rotate(45deg);
}

body::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -100px;
  left: 800px;
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: rgba(254, 5, 5, 0.4); /* Red with transparency */
  z-index: -1; /* Place behind image */
}

@media (max-width: 768px){
  h1{
    font-size: 6vw;
  }

  p{
    font-size: 3.5vw;
  }

  .hero-image{
    flex-direction: column;
  }

  .hero-image.circle{
    width: 250px;
    height: 250px;
  }

  nav ul{
    flex-direction: column;
    gap: 10px;
  }
}